body, html {
    height: 100% !important;
    margin: 0;
}

footer {
    padding-top: 12px;
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    background-color: #343e4c;
    border: 1px solid;
    padding-left: 0px !important;
    
}


body {
    /*padding-top: 100px;*/
    /*padding-bottom:200px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    
    /* possible color #393E41   #51585c*/ 
}

.navbar-fixed-top .navbar-brand {
    padding: 15px 0;
}

#buttonIniciSessio {
    text-align: center;
}

#butoContinuarRegistre{
    text-align: right;
}

.imgRegistre {
    max-height: 50px;
    max-width: 50px;
}
.pujarImgPerfil{
    max-height: 200px;
    max-width: 200px;
}

.benvingudaText {
    text-align: center;
    max-width: 500px;
}

.form-group-pers{
    margin-bottom: 15px !important;
    padding-top: 10px !important;
}

/*.navbar-fixed-top .nav {
    padding: 15px 0;
}*/

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.buto {
    font-size: 40px;
    background-color: #D87939;
    color: #000000;
    border-color: none;
    border-radius: 5px;
    margin-top: 10%;
}

    .buto:hover {
        color: #D87939;
        background-color: #ffffff;
        border-color: #D87939;
       border-radius: 5px;
    }

.wrapper {
    text-align: center;
}

.copyright {
    color: #000000;
}

.titol {
    color: #000000;
}

.imatge_fons {
    width:50%;
    height:50%;
    position:relative;
}
.imatgeXats{
    max-width:50px !important;
}
.blocXats{
    text-align:center;
}

#ImageNavPerfil{
    max-width: 50px;
}

.navbar-brand>img {
    display: block;
    max-width: 10%;
}

/*Panels*/
.panel-primary {
    border-color: #343e4c;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #343e4c;
    border-color: #343e4c;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: none !important;
   
}
.col-md-4 {
    display:inline;
}

.col-md-3 {
    display:inline;
}
/*Progress bar*/
progress {
	width: 75%;
	height: 20px;
	margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background: black;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #ffffff, #ffffff);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}
@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
.botoContinuar {
    color: #ffffff;
    text-decoration: none;
    background-color: #343e4c;
    padding: 5px;
    border-radius: 5px;
    text-decoration:none
}
.botoEnrere {
    color: #ffffff;
    text-decoration: none;
    background-color: #343e4c;
    padding: 5px;
    border-radius: 5px;
    text-decoration:none
}
.botoContinuar:hover {
    text-decoration: none;
    color: #343e4c;
    background-color: white;
    border-color: #343e4c;
    border: 1px solid;
    font-size: 15px;
}
.botoEnrere:hover {
    text-decoration: none;
    color: #ffb45f;
    background-color: white;
    border-color: #ffb45f;
    border: 1px solid;
    font-size: 15px;
}
/*Modaal*/
.modal-header {
    background-color: #343e4c;
}
.modal-title {
    color:#fff;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=20);
    /* opacity: .2; */
}

/*Footer Font awesome*/
.font-awesome {
    color: #ffffff;
}
a:focus, a:hover {
    color: #ffffff;
    text-decoration: underline;
}

h3 {
    color:#ffffff;
}


/*navbar*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffb45f;
}
.navbar-default {
    background-color: #ffb45f;
    border-color: #ffb45f;
}
.navbar-default .navbar-nav>li>a {
    color: #000000;
}



.btn-primary {
    color: #fff;
    background-color: #ffb45f;
    border-color: #ffb45f;
}
    div#ContentPlaceHolder1_PanelInici,div#ContentPlaceHolder1_BotoContinuar,div#ContentPlaceHolder1_PanelBenvinguda,
    div#ContentPlaceHolder1_PanelDadesNecessaries,div#ContentPlaceHolder1_PanelDadesPersonals,div#ContentPlaceHolder1_PanelOpcionsRelacio   {
        margin-left:20px;
        margin-right:20px;
}

/*#393E41*/


.contacte {
    text-align:center;
    color:#343e4c;
    padding:15px;
    height:250px;
}

.dadescontacte {
    color:#343e4c;
    
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #343e4c;
    border-color: #343e4c;
}

/*Prova paralax*/

/*Prova paralax*/
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url(/Imatges/fons2.jpg);
  min-height: 100% !important;
}

.bgimg-2 {
  background-image: url(/Imatges/fons3.jpg);
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(/Imatges/fons.jpg);
  min-height: 300px;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

